<div *ngIf="user" class="settingsMain" >
    <h3>Your Settings</h3>
    <form [formGroup]="newSettingsForm">
        <input class="element form-control" type="text"  formControlName="image" placeholder="Your new image (url)">
        <input class="element form-control" type="text"  formControlName="username" placeholder="Your new name">
        <textarea class="element form-control" rows="10" formControlName="bio" placeholder="Your bio"></textarea>
        <input class="element form-control" type="text"  formControlName="email" placeholder="Your email">
    <button class="btn btn-success" type="button" (click)="publish()">Update Settings</button>
    </form>
</div>

<!-- <button class="btn-outline-danger" type="button" (click)="doUserLogout()">Log Out</button> -->