.btn-primary {
  background-color: var(--primary-lightBlue-color);
  color: white;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:visited {
  background-color: var(--primary-darkBlue-color);

  color: white;
}

.form {
  text-align: center;
  max-width: 60%;
  margin: auto;
  margin-top: 5rem;
}

.ref {
  color: var(--primary-lightBlue-color);
}

.containerInput {
  margin-top: 2rem;
}

.btn-primary {
  padding-right: 2rem;
  padding-left: 2rem;
}

.form-control {
  margin-bottom: 1.5rem;
}
