<div *ngIf="article">
<!-- hero -->
<section class="hero">
    <h2>{{article.title }}</h2>
        <div class="aboutAuthor d-flex flex-row">
            <div class="d-flex align-items-center">
            <img class="articleAuthorAvatar" src="{{article.author.image}}" alt="">
                <div class="d-flex flex-column author">
                    <p class="articleAuthorName">{{article.author.username}}</p>
                    <p class="articleDate">{{article.createdAt | date:'longDate'}}</p>
                </div>
                    <ng-container>
                        <ng-container *ngTemplateOutlet="estimateTemplate">
                        </ng-container>
                    </ng-container>
            </div>
        </div>
</section>

<!-- article -->
<section class="article">
    <p class="articleBody">{{article.body}}</p>
    <ul *ngFor="let tag of article.tagList">
        <li><p class="tag">{{tag}}</p></li>
    </ul>
</section>
<div class="d-flex justify-content-center articleField">
    <!-- <div class="aboutAuthor">
    <img class="articleAuthorAvatar" src="{{article.author.image}}" alt="">
        <div class="d-flex flex-column">
            <p class="articleAuthorName">{{article.author.username}}</p>
            <p class="articleDate">{{article.createdAt | date:'longDate'}}</p>
        </div>
    </div> -->
<!-- <ng-container>
    <ng-container *ngTemplateOutlet="estimateTemplate">
    </ng-container>
</ng-container> -->
</div>

<!-- comments -->
    <div *ngIf="!user">
    <p class="toLogIn"> <a [routerLink]="['/login']" class="action">Sign in</a> or <a [routerLink]="['/register']" class="action">Sign up</a> to add comments on this article.</p>
    </div>
        <div class="card">
            <div *ngIf="user" class="commentContainer card-body">
                <form [formGroup]="newCommentForm" (ngSubmit)="publishComment()">
                    <blockquote class="blockquote">
                        <textarea class="element form-control" rows="5"
                            placeholder="Write your comment" required formControlName="body"></textarea>
                    </blockquote>
                    <button class="commentButton btn btn-success" type="button" (click)="publishComment()">Post Comment</button>
                </form>
            </div>
        </div>

    <div *ngIf="(comments$ | async) as comments">
        <ul *ngFor="let comment of comments">
            <li>
            <div class="card" [ngClass]="{'cardOwnComment' : user && comment.author.username === user.username }">
                <div class="card-body" >
                    <blockquote class="blockquote">
                    <p>{{comment.body}}</p>
                    </blockquote>
                    <div class="card-header">
                        <div class="d-flex flex-row align-items-center">
                        <a href="">{{comment.author.username}}</a>
                        <p class="articleDateComment">{{comment.createdAt | date:'longDate'}}</p>
                        </div>
                    </div>
                    <button *ngIf="user && comment.author.username === user.username" class="deleteComment btn btn-outline-dark btn-sm"  (click)="deleteComment()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                        viewBox="0 0 16 16">
                        <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd"
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg></button>
                </div>
                </div>
            </li>
        </ul>
    </div>
    <ng-template #estimateTemplate>
        <div *ngIf="user && article.author.username !== user.username" class=" d-flex flex-row">
            <button [ngClass]="{'buttonUn' : isFollow === true, 'btn btn-outline-success' : isFollow === false }"
            (click)="onClickFollow()">{{isFollow === true ? ' - Unfollow' : (isFollow === false ? ' + Follow' : '')}}</button>
            <button [ngClass]="{'buttonUn' : isLike === true, 'btn btn-outline-success' : isLike === false }"
            (click)="onClickLike()">{{isLike === true ? ' - Unfavourite Article' : (isLike === false ? ' + Favourite Article' : '')}} {{likeCounter}}</button>
            <!-- <app-like-button></app-like-button> -->
        </div>
        <div *ngIf="user && article.author.username === user.username">
            <a class=" btn btn-light" [routerLink]="['/editor', article.slug]">Edit Article</a>
            <button class=" btn btn-light" type="button" (click)="deleteArticle()">Delete Article</button>
        </div>
    </ng-template>
</div>

   
