<div class="containerPosition" *ngIf="user">
    <div class="hero">
        <img class="profileAvatar" src="{{user.image}}" alt="">
        <h2 *ngIf="user">{{user.username}}</h2>
        <a class="profileEditBtn btn btn-light" [routerLink]="['/settings']"> Settings </a>
    </div>
    <div class="buttons">
        <button class="btn" type="button" (click)="showOwnArticles()" [ngClass]="{'btn-outline-primary' : isOwn}">My
            Articles</button>
        <button class="btn" type="button" (click)="showFavouriteArticles()"
            [ngClass]="{'btn-outline-primary' : isFavourite}">Favourite Articles</button>
    </div>
    <ul *ngIf="(articles$ | async) as articles">
        <li *ngFor="let article of articles | paginate: {
              itemsPerPage: pageSize,
              currentPage: page,
              totalItems: articles.length}">
            <div  *ngIf="user && isOwn && isLogged">
                <ng-container *ngTemplateOutlet="estimateTemplate"></ng-container>
            </div>
            <div *ngIf="user && isFavourite && isLogged">
                <ng-container *ngTemplateOutlet="estimateTemplate"></ng-container>
            </div>
            <ng-template #estimateTemplate>
                <a [routerLink]="['/article', article.slug]">
                    <article class="article">
                        <div class="d-flex align-items-center">
                            <img class="articleAuthorAvatar" src="{{article.author.image}}" alt="">
                            <div class="d-flex flex-column">
                                <a class="articleAuthorName" href="">{{article.author.username}}</a>
                                <p class="articleDate">{{article.createdAt | date:'longDate'}}</p>
                            </div>
                        </div>
                        <h3>{{article.title}}</h3>
                        <p class="articleText">{{article.body}}</p>
                        <a class="articleReadMore" [routerLink]="['/article', article.slug]">Read more...</a>
                        <span class="articleHeart"> {{article.favoritesCount}}</span>
                        <div class="articleTags">
                            <ul *ngFor="let tag of article.tagList">
                                <li><button class="articleTag btn btn-light btn-sm" type="button">{{tag}}</button></li>
                            </ul>
                        </div>
                    </article>
                </a>
            </ng-template>
        </li>
    </ul>
<div class="paginationPosition">
    <ng-container *ngIf="length > pageSize">
        <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
    </ng-container>
</div>
    <ng-container *ngIf="length === 0">
        <p class="noArticle">No articles yet...</p>
    </ng-container>
</div>
