.hero {
  padding: 2rem;
  background-color: var(--primary-lightBlue-color);
  position: relative;
  text-align: center;
}

.profileEditBtn {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}

.profileAvatar {
  border-radius: 50%;
  max-height: 7rem;
}

.profileEditBtn::before {
  content: "\2699";
}

.article {
  position: relative;
  width: 100%;
}

.articleHeart {
  position: absolute;
  right: 0px;
  top: 4.5rem;
}

.articleHeart::before {
  content: "\2764";
}

.articleTag {
  margin-top: 0.2rem;
  margin-right: 0.4rem;
  font-size: 0.7rem;
}

.articleTags {
  display: flex;
  margin-top: 0.8rem;
}

.btn-link {
  color: var(--primary-lightBlue-color);
  margin-top: 1.1rem;
}

.article::before {
  content: "";
  display: block;
  width: 100%;
  height: 0.1rem;
  background: var(--primary-light-color);
  border-radius: 0.1rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.articleAuthorName {
  color: var(--primary-lightBlue-color);
  margin-left: 0.3rem;
}

.articleDate {
  color: gray;
  font-size: 0.7rem;
  margin-bottom: 0px;
  margin-left: 0.3rem;
}

.articleText {
  color: var(--primary-dark-color);
  width: 90%;
  margin-bottom: 0.75rem;
}

.articleReadMore {
  color: var(--primary-light-color);
  font-size: 0.8rem;
}

.articleAuthorAvatar {
  border-radius: 50%;
  height: 90%;
  max-height: 2rem;
}

.buttons button {
  margin-left: 0.5rem;
}

.buttons {
  margin-top: 0.5rem;
}

.noArticle {
  margin: 1rem;
  text-align: center;
}

.containerPosition {
  position: relative;
  padding-bottom: 4rem;
}

.paginationPosition {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
}

.btn-outline-primary {
  color: var(--primary-lightBlue-color);
  border-color: var(--primary-lightBlue-color);
}

.btn-outline-primary:hover {
  color: var(--primary-lightBlue-color);
  border-color: var(--primary-lightBlue-color);
}

.btn-light {
  background-color: rgb(235, 238, 238);
  color: rgba(0, 0, 0, 0.637);
}
