:root {
  font-size: 16px;
  --primary-dark-color: rgb(46, 45, 45);
  --primary-white-color: rgb(240, 234, 234);
  --primary-light-color: rgb(92, 87, 87);
  --primary-lightBlue-color: rgb(33, 153, 232);
  --home-color: rgb(33, 134, 201);
  --primary-darkBlue-color: rgb(4, 22, 49);
  --primary-lightGrey-color: rgb(183, 184, 185);
}

ul,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: var(--primary-dark-color);
}

a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: var(--primary-dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

body {
  color: var(--primary-light-color);
}

.container {
  max-width: 1000px;
}
